@model Ticket

@{
    ViewData["Title"] = "Add Ticket";
}
<style>
    #name{
        display: inline-block;
        animation:fadingin 2s;
    }
</style>
<h2 class="display-4">Add Ticket For <span id="name" class="text-primary">@ViewBag.User.FirstName @ViewBag.User.LastName</span></h2>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Issue">Issue Description</label>
        <textarea rows="8" asp-for="Issue" class="form-control"></textarea>
    </div>
    @if (ViewBag.User.IsTechnician == true)
    {
        <div class="form-group">
            <label asp-for="Status">Status</label>
            <select asp-for="Status" class="form-control">
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
    }
    <input type="hidden" asp-for="TicketId" />
    <input type="hidden" asp-for="UserId"/>

    <button class="btn btn-primary"type="submit">Add</button>
    <button action="Index" controller="Home" class="btn btn-primary">Cancel</button>
</form>
