@model Ticket

@{
    ViewData["Title"] = "Add Ticket";
}

<h1 class="display-4">Add Ticket</h1>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Category">Issue Description</label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserId"></label>
        <select asp-for="UserId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Users,"UserId"))"></select>
    </div>

    <input type="hidden" asp-for="TicketId" />


    <button type="submit">Add</button>
    <my-link-button action="Index" controller="Home">Cancel</my-link-button>
</form>