@model Ticket
@{
    ViewData["Title"] = "Add Ticket";
}

<h2 class="display-4">Add Ticket</h2>



<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Category">Issue Description</label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User">Opened By</label>
        <select asp-for="UserId" class="formmod-control"
            asp-items=@(new SelectList(ViewBag.User,"UserId","Username"))>
        </select>
        <span asp-validation-for="UserId" class="text-danger"/>
        @*asp-items="@(new SelectList(User,"UserId", "UserName"))"*></select>*@
    </div>
</form>

