@model TicketListViewModel
@{ 
    ViewBag.Title = "Ticket List";
}

<h2 class="display-4">Ticket List</h2>

@*<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Issue Description</th>
            <th>Ticket Status</th>
            <th>Date Opened</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in Model.Tickets)
            {
                <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.Category</td>
                    <td>@ticket.Status</td>
                    <td>@ticket.DateOpened</td>
                    <td>
                        <a asp-controller="Ticket" asp-action="View">View Details</a>
                    </td>
                </tr>
            }      
    </tbody>
</table>*@
