@model IEnumerable<Note>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2 class="display-4">Ticket List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-1">Date Created</th>
            <th class="col-1">Creator</th>
            <th class="col-6">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Note note in Model)
        {
            <tr>
                <td>@note.NoteId</td>
                <td>@note.UserId</td>
                <td>@note.Content</td>
            </tr>
        }
    </tbody>
</table>